---
import DocLayout from '@layouts/doc-layout.astro'
import { getCollection } from 'astro:content'

export async function getStaticPaths() {
  const entries = await getCollection('markdown')
  return entries.map((entry) => ({
    params: { slug: `${entry.collection}/${entry.slug}` },
    props: { entry }
  }))
}
const { entry } = Astro.props

const { Content } = await entry.render()
---

<DocLayout collection={entry.collection}>
  <div class='prose prose-lg'>
    <Content />
  </div>
</DocLayout>
