---
import config from '@config'
---

<header class='z-99 sticky top-0 border-b'>
  <div class='flex h-16 items-center p-5'>
    <a href='/'><h1 class='font-semibold'>{config.site.name}</h1></a>
  </div>
</header>
