---
import LinkButton from '@components/link-button.astro'
---

<div
  class='relative m-auto mt-16 flex h-96 max-w-3xl items-center justify-center py-4 text-center'
>
  <div class='relative z-10'>
    <h1 class='text-4xl font-semibold text-black'>
      Free document template, Powered by astro
    </h1>
    <p class='mt-2 text-xl text-stone-400'>
      Build faster websites with markdown in minutes.
    </p>

    <div class='mt-4'>
      <LinkButton
        href='https://github.com/heapup-tech/heapup-docs-template'
        class='bg-stone-800 text-white hover:bg-stone-800/90'
        size='lg'
      >
        Get Template
      </LinkButton>
    </div>
  </div>
</div>
