---
import ArrwoRight from '@assets/images/arrow-right.astro'

const sizes = {
  sm: 'h-8 rounded-md px-3 text-xs',
  md: 'h-9 px-4 py-2',
  lg: 'h-10 rounded-md px-8'
}

interface Props {
  size?: keyof typeof sizes
  href?: string
  class?: string
}

const { size = 'md', href, class: className } = Astro.props
---

<button
  class:list={[
    'focus-visible:outline-non focus-visible:ring-ring group inline-flex items-center justify-center whitespace-nowrap rounded-md transition-colors focus-visible:ring-1 disabled:pointer-events-none disabled:opacity-50',
    sizes[size],
    className
  ]}
>
  {
    href ? (
      <a
        href={href}
        target='_blank'
        class='flex items-center gap-x-1.5'
      >
        <slot />
        <ArrwoRight />
      </a>
    ) : (
      <slot />
    )
  }
</button>
