---
import BaseLayout from '@layouts/base-layout.astro'
import type { SideItem } from '@components/sidebar.astro'
import Sidebar from '@components/sidebar.astro'
import Toc from '@components/toc.astro'
import { getCollection, getEntryBySlug } from 'astro:content'
import type { ContentCollectionKey } from 'astro:content'

interface Props {
  dir?: ContentCollectionKey
}

const { dir } = Astro.props

const params = Astro.params
console.log(params)
---

<BaseLayout>
  <div class='grid grid-cols-3'>
    <Sidebar />
    <main>
      <slot />
    </main>
    <Toc />
  </div>
  <!-- 
  <div class='prose prose-lg mx-auto mt-6 max-w-3xl'>
    <Content />
  </div> -->
</BaseLayout>
